In [11]:
import pandas as pd

# Load data from CSV
file_path = '/Users/hpourmand/Desktop/Data Analyst Sample/customers.csv'
df = pd.read_csv(file_path)




# Display basic information about the DataFrame
df.info()

 # Drop duplicates
df = df.drop_duplicates()

# Check for missing values and print the count for each column
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)


# Filling missing values
df['city'] = df['city'].fillna('Unknown')
df['state'] = df['state'].fillna('Unknown')
#df['gender'] = df['gender'].fillna('Not Provided')
df['education'] = df['education'].fillna('Others')
df['occupation'] = df['occupation'].fillna('Not Provided')

# Fill missing values in 'birth_date' with the mode
birth_date_mode = df['birth_date'].mode()[0]
df['birth_date'] = df['birth_date'].fillna(birth_date_mode)




# Filter dates
Latest_date = '2020-12-29'
Earliest_date = '1900-01-01'
df = df[(df['birth_date'] <= Latest_date) & (df['birth_date'] >= Earliest_date)]



# Drop rows with other missing values
df = df.dropna()

# Define a function to standardize column values
def standardize_column(df, column_name, replacements):
    for old_value, new_value in replacements.items():
        df[column_name] = df[column_name].str.replace(old_value, new_value, case=False, regex=True)
    df[column_name] = df[column_name].str.strip()
    df[column_name] = df[column_name].str.replace(r'\s+', ' ', regex=True)  


# Standardize values in columns
standardize_column(df, 'gender', {'female': 'FEMALE', 'male': 'MALE'})
standardize_column(df, 'city', {'PORTLAND': 'Portland'})
standardize_column(df, 'state', {'OREGON': 'Oregon', 'washington': 'Washington'})
standardize_column(df, 'education', {
    'COLLEGE': 'College', 'SCHOOL': 'School', 'HIGH': 'High',
    'GRADUATE': 'Graduate', 'graduate': 'Graduate', 'DEGREE': 'Degree',
    'OTHERS': 'Others'
})
standardize_column(df, 'occupation', {
    'OTHERS': 'Others', 'TECH': 'Tech', 'tech': 'Tech', 'COLLAR': 'Collar',
    'SUPPORT': 'Support', 'ADMIN': 'Admin', 'BLUE': 'Blue',
    'FINANCE': 'Finance', 'EDUCATION': 'Education', 'education': 'Education',
    'sales': 'Sales', 'SALES': 'Sales'
})

# Clean up columns by stripping unwanted characters and whitespace
columns_to_strip = ['zipcode', 'name', 'gender', 'city', 'street_address', 'state', 'birth_date', 'education', 'occupation']
for column in columns_to_strip:
    df[column] = df[column].str.strip().str.strip('_#-')


# Convert 'zipcode' column to integer
df['zipcode'] = df['zipcode'].astype(str).str.split('.').str[0]  


# Save cleaned DataFrame to CSV
output_path = '/Users/hpourmand/Desktop/Data Analyst Sample/cleaned_customers.csv'
df.to_csv(output_path, index=False)

print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2000 non-null   object
 1   name            2000 non-null   object
 2   street_address  2000 non-null   object
 3   city            1906 non-null   object
 4   state           1898 non-null   object
 5   zipcode         1999 non-null   object
 6   birth_date      1893 non-null   object
 7   gender          1899 non-null   object
 8   education       1896 non-null   object
 9   occupation      1893 non-null   object
dtypes: object(10)
memory usage: 156.4+ KB
Missing values in each column:
 id                  0
name                0
street_address      0
city               94
state             102
zipcode             1
birth_date        107
gender            101
education         104
occupation        107
dtype: int64
                                    id               name  \
0     df83ec2d0d409395c0d8c2690cfa8b67  Cynthia Barnfield
1     6aec7ab2ea0d67161dac39e5dcabd857    Elizabeth Smith
2     0c54340672f510fdb9d2f30595c1ab53      Richard Pabla
4     3720379163f6b46944db6c98c0485bfd       Ronald Lydon
5     8380f7f05a183e9b17f133d5e8a78707      Katherine Bax
...                                ...                ...
1995  ae55f0b71b8b8e91945cd9a91b6e45ee        JOE Roberts
1996  07fe407cc889ea21a8bdc04c305960b1   Matthew Coniglio
1997  9a2194fcd4f0f326f0ca334450e16a93         Earl Grier
1998  01a598a05c48fdd18461d6411f51a109   Rogelio Richmann
1999  2d1d65505400e568a045c828c9ebe365         Paul Groat

                street_address       city       state zipcode  birth_date  \
0              44 NE Meikle Pl   Portland      Oregon   97213  2009-09-10
1          7511 SE Harrison St   Portland      Oregon   97215  1956-12-15
2              1404 SE Pine St   Portland      Oregon   97214  1960-12-18
4          5321 NE Skyport Way    Unknown      Oregon   97218  1961-03-14
5             4106 NE 69th Ave   Portland      Oregon   97218  1990-10-06
...                        ...        ...         ...     ...         ...
1995  7331 NE Killingsworth St   Portland     Unknown   97218  1955-05-23
1996     1908 NW Harborside Dr  Vancouver  Washington   98660  1975-11-10
1997           22 NE graham ST   Portland      Oregon   97212  2007-10-02
1998       7000 NE Airport Way   Portland      Oregon   97218  2001-02-19
1999           8993 SE 78th Pl   Portland      Oregon   97206  1956-06-23

      gender        education          occupation
0     FEMALE      High School        Not Provided
1     FEMALE          College         Blue Collar
2       MALE          College  Education & Health
4       MALE  Graduate Degree         Blue Collar
5     FEMALE  Graduate Degree                Tech
...      ...              ...                 ...
1995    MALE           Others  Business & Finance
1996    MALE           Others  Business & Finance
1997    MALE           Others  Education & Health
1998    MALE          College  Business & Finance
1999    MALE           Others               Sales

[1725 rows x 10 columns]